:root{
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-secondary-200: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-secondary: 'Fraunces', serif;
  
  --fw-700: 700;
  --fw-500: 500;
  
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body{
  min-height: 100vh;
  margin: 1rem;
  background-color: var(--clr-secondary-200);
  display: grid;
  place-content: center;
  font-family: var(--font-family-primary);
  font-weight: var(--fw-500);
  font-size: var(--fs-400);
  color: var(--clr-neutral-400);
}

section{
  background-color: var(--clr-neutral-100);
  border-radius: 20px;
  overflow: hidden;
  max-width: 600px;
}

@media (min-width: 600px){
  section{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.description{
  display: grid;
  padding: 2rem;
  gap: 20px;
}

h1{
  font-family: var(--font-family-secondary);
  font-size: 1.75rem;
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
}

.price{
  display: flex;
  align-items: center;
  gap: 15px;
}

.price span{
  font-family: var(--font-family-secondary);
  font-size: 2rem;
  color: var(--clr-primary-400);
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  padding: 1rem 2rem
}

svg{
  margin-right: 10px;
}

.attribution{
  text-align: end;
  margin-top: 15px;
}

.attribution a{
  text-decoration: none;
  font-family: var(--font-family-secondary);
  font-size: var(--fs-500);
  color: var(--clr-primary-400);
}